.brand-sticky {
	width: 18%;
}
.datepicker {
	color: black;
}
@media screen and (max-width: 440px) {
	nav {
		width: 100vw;
	}
	.nav-left, .sidebar, .navbar-left {
		display: none;
	}
}
@media screen and (max-width: 1366px) {
	nav {
		width: 100vw;
	}
}