@media screen and (max-width: 769px) {

	
	#about-me-img{
		border-radius: 50%;
		width: 50%;
		max-width: none;
		top: 0;
		left: 0;
	}

	.about-me-info {
		top: 0;
		color: #4d4d4d;
		left: 0;
	}
	.about-me-info h5 {
		position: relative;
		left: 0%;
	}

	#slider-container {
		width: auto;
		top: 0;
		left: 40vw;
		
	}
	#slider-container h2 {
		color: #a6a6a6;
		left: 5%;
	}
	.pics {
		width: 12%;
		padding: 5px;
	}
	.mob-icons {
		display: inline;
		
	}
	.mob-icons img {
		width: 28%;
	}
	#fb-icon {
		width: 6%;
	}
	#mob-links {
		position: relative;
		left: 10%;
	}
	#find-me {
		margin-right: 15px; 
	}
 
	section {
		left: 0;
	}

	article {
		width: 95%;
	}
	#my-obj{
		left: 0vw;
	}

}
@media screen and (max-width: 440px) {
	body {
		width: 100vw;
		overflow-x: hidden;
		height: 100vh;
	}

	#about-me-bio, .about-me-info h4, .about-me-info p, #ugly, #linkedin-link, #codewars, .h3-a-butt, #closeup {
		display: none;
	}
	#about-me-intro {
		position: relative;
		left: 0;
	}

	#about-me-img{
		border-radius: 50%;
		max-width: 50%;
		width: auto;
		height: auto;
		left: 0;
		position: relative;
	}
	section {
		left: 0;
	}

	.about-me-info {
		position: relative;
		top: 0;
		color: #4d4d4d;
	}

	#slider-container {
		width: auto;
		top: 0;
		left: 40vw;
		
	}
	#slider-container h2 {
		color: #a6a6a6;
		left: 0%;
	}
	.pics {
		width: 12%;
		padding: 5px;
	}
	.mob-icons {
		display: inline;
		
	}
	.mob-icons img {
		width: 28%;
	}
	#fb-icon {
		width: 6%;
	}
	#mob-links {
		position: relative;
		margin-top: 30px;
		top: 0;
		left: 18vw;
	}
	#find-me {
		margin-right: 15px; 
	}


}
@media screen and (max-width: 321px) {

	#mob-links {
	top: 25vh;
	margin-right: 15px; 
	}


}
