body{
	width: 100%;
}
#usr {
	width: 10%;
	float: right;
	position: relative;
	right: 2%;
}
.brand-sticky {
	width: 18%;
}
section {
	width: 80vw;
	position: relative;
	left: 10vw;
}
#about-me-intro {
	font-size: 20px;
	font-weight: bold;
}
article {
	width: 60vw;
}
#about-me-img{
	border-radius: 50%;
	max-width: 40%;
	width: 35vw;
	height: auto;
	float: left;
	position: relative;
}
.about-me-info {
	position: relative;
	clear: right;
	top: 20px;
	left: 9%;

}
.about-me-info p {
	margin-left: 4px;
}

.about-me-info > p, .about-me-info > h4, .about-me-info > h5{
	color: gray;
}
h2 {
	font-weight: bold;
}
#about-me-bio {
	position: relative;
	clear: right;
	width: 45vw;
	left: 9%;
	top: 15px;
}
#about-me-bio p {
	position: relative;
	clear: right;;
	top: auto;
}
#slider-container{
	max-width: 80%;
	position: relative;
	width: 50%;
	clear: left;
	top: -8vh;
	left: 45vw;
}
.pics {
	width: 10%;
	padding: 5px;
}
#slider {
	position: relative;
	top: 10px;
	left: -30%;
}
#ugly {
	position: relative;
	top: 3vh;
	left: 38vw;
	width: 40vw;
	font-weight: bolder;
	color: red;

}
.prof-links {
	position: absolute;
	top: 12vh;
	left: 55vw;
}
#codewars-img {
	position: relative;
	top: 15vh;
	margin-top: 10px;
	width: 19vw;
}
#linkedin-link {
	position: relative;
}

#h3-a {
	position: absolute;
	top: 35vh;
	left: 55vw;
	border-radius: 5%;
	background: none;
	box-shadow: none;
}

@media screen and (max-width: 1440px) {

    #ugly {
	top: 10vh;
	left: 35vw;
	width: 40vw;
	font-weight: bold;
	}
	#prof-links {
	position: absolute;
	float: right;
	left: 55vw;
	top: 14vh;
	}
	#slider-container{
	top: 4vh;
	}
}