@media screen and (max-width: 1366px) {
	body {
		width: 100vw;
		height: 100%;
		overflow-x: hidden;
	}

	#about-me-bio, .sidebar, .about-me-info h4, .about-me-info p, #ugly, #linkedin-link, #codewars, .h3-a-butt, #closeup {
		display: none;
	}
	#about-me-intro {
		position: relative;
	}

	#about-me-img{
		border-radius: 50%;
		height: auto;
		position: relative;
	}

	.about-me-info {
		position: relative;
		
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		vertical-align: middle;
		justify-content: center;
		color: #4d4d4d;
	}

	#slider-container {
		width: 50%;
		position: relative;
		left: 40vw;	
	}
	#slider-container h2 {
		position: relative;
		color: #a6a6a6;
		left: 8.5%;
	}
	.pics {
		width: 12%;
		padding: 5px;
	}
	.mob-icons {
		display: inline;
		
	}
	.mob-icons img {
		width: 10%;
		margin-left: 7px;
	}
	#fb-icon {
		width: 3%;
	}
	#mob-links {
		position: relative;
		top: 12vh;
		left: 14%;
	}
	#find-me {
		margin-right: 15px; 
	}
	#my-obj{
	position: fixed;
	padding: 5px;
	top: 10vh;
	left: 7vw;
	z-index: 4;
	border: 2px solid black;
    background-color: white; 
}
	section {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 0;
	}

	article {
		width: 95%;
		vertical-align: middle;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


    #ugly {
	top: 10vh;
	left: 35vw;
	width: 40vw;
	font-weight: bold;
	}
	#prof-links {
	position: absolute;
	float: right;
	left: 55vw;
	top: 14vh;
	}

}