body{
	width: 100vw;
	height: 100vh
}
#usr {
	width: 10%;
	float: right;
	position: relative;
	right: 2%;
}
.brand-sticky {
	width: 18%;
}
section {
	width: 80vw;
	position: relative;
	left: 10vw;
}
#about-me-intro {
	font-size: 20px;
	font-weight: bold;
	z-index: 3;
}
article {
	width: 60vw;
}
#about-me-img{
	border-radius: 50%;
	width: 35vw;
	height: auto;
	position: relative;
}
.about-me-info {
	position: relative;
}
.about-me-info p {
	margin-left: 4px;
}

.about-me-info > p, .about-me-info > h4, .about-me-info > h5{
	color: gray;
}
h2 {
	font-weight: bold;
}
#about-me-bio {
	position: relative;
	clear: right;
	width: 45vw;
	left: 9%;
	top: 15px;
	z-index: 3;
}
#about-me-bio p {
	position: relative;
	clear: right;;
	top: auto;
	z-index: 3;
}
#slider-container{
	position: relative;
}

#slider {
	position: relative;
	top: 10px;
	left: -30%;
}
#ugly {
	position: relative;
	top: 3vh;
	left: 38vw;
	width: 40vw;
	font-weight: bolder;
	color: red;

}
.prof-links {
	position: absolute;
	top: 12vh;
	left: 55vw;
}
#codewars-img {
	position: relative;
	top: 15vh;
	margin-top: 10px;
	width: 19vw;
}
#linkedin-link {
	position: relative;
}

.mob-icons {
		display: none;
	}

#h3-a {
	position: absolute;
	top: 35vh;
	left: 55vw;
	width: 13vw;
	border-radius: 5%;
	background: none;
	box-shadow: none;
}
#h3-a h3 {
	margin-right: 10px;
	margin-left: 2%;
}
#h3-a img {
	margin-bottom: 10px;
}
#h3-a .h3-child {
	display: inline-block;
}
#my-obj{
	display: none;
	position: fixed;
	top: 20vh;
	left: 7vw;
	z-index: 4;
}
@-moz-document url-prefix() { 
  #my-obj{
    left: 35%;
    border: 2px solid black;
    background-color: white; 
  }
}

#closeup {
	position: relative;
	font-weight: bold;
	color: red;
	}

#clickOff {
	position: relative;
}

@media screen and (max-width: 1440px) {

    #ugly {
	top: 10vh;
	left: 35vw;
	width: 40vw;
	font-weight: bold;
	}
	#prof-links {
	position: absolute;
	float: right;
	left: 55vw;
	top: 14vh;
	}
	.pics {
	width: 10%;
	padding: 5px;
	}
	#slider-container{
	top: 4vh;
	max-width: 80%;
	width: 50%;
	clear: left;
	left: 45vw;
	z-index: 3;
	}
}

@media screen and (max-width: 1920px) {

	#slider-container{
	max-width: 80%;
	width: 50%;
	clear: left;
	top: -5%;
	left: 45vw;
	z-index: 3;
}

	#about-me-img{
	float: left;
	max-width: 40%;
	}

	#closeup {
	float: left;
	top: 40vh;
	left: -16.5vw;
	}

	.about-me-info {
		clear: right;
		top: 20px;
		left: 9%;
		z-index: 3;
	}
	.pics {
	width: 10%;
	padding: 5px;
	}


}
