@media screen and (max-width: 440px) {
	body {
		width: 100vw;
		overflow: hidden;
		height: 100%;
	}
	nav {
		width: 100vw;
	}

	#about-me-bio, .nav-left, .sidebar, .navbar-left, .about-me-info h4, .about-me-info p, #ugly, #linkedin-link, #codewars, .h3-a-butt, #closeup {
		display: none;
	}
	#about-me-intro {
		position: relative;
		left: 33vw;
	}

	#about-me-img{
		border-radius: 50%;
		width: 90vw;
		height: auto;
		top: 7vh;
		left: 25vw;
		position: absolute;
	}

	.about-me-info {
		top: 20vh;
		color: #4d4d4d;
		left: 22.5vw;
	}
	.about-me-info h5 {
		position: relative;
		left: -7%;
	}

	#slider-container {
		width: 100vw;
		top: 20vh;
		left: 40vw;
		
	}
	#slider-container h2 {
		color: #a6a6a6;
	}
	.pics {
		width: 12%;
		padding: 5px;
	}
	.mob-icons {
		display: inline;
		
	}
	.mob-icons img {
		width: 28%;
	}
	#fb-icon {
		width: 6%;
	}
	#mob-links {
		position: relative;
		top: 34vh;
		left: 18vw;
	}
	#find-me {
		margin-right: 15px; 
	}
 
	section {
		width: 100vw;
		left: 4vw;
	}

	article {
		width: 95%;
	}
	.viewer {
		width: 10%;
	}

    #ugly {
	top: 10vh;
	left: 35vw;
	width: 40vw;
	font-weight: bold;
	}
	#prof-links {
	position: absolute;
	float: right;
	left: 55vw;
	top: 14vh;
	}

}