
#myapp {
	position: relative;
	top: 100px;
}
#addItem {
	height: 35px;
	border: 1px solid #99ebff;
	border-radius: 2%;

}
#addCost {
	height: 35px;
	border: 1px solid #99ebff;
	border-radius: 2%;
}

.lits {
	font-size: 16px;
	color: red;

}
.lit {
	font-weight: bold;
	top: 20px;
	border: 0px solid gray;
	height: 30px;
}

#total-cover {
	position: fixed;
	top: 700px;
}

#total {
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 700px) {

	#total {
	font-size: 20px;
	font-weight: bold;
}
	#total-cover {
	position: relative;
	padding: 30px; 
	top: 200px;
	}

}