body {
	background-color: black;
	width: 100%;
}
header {
	height: 200px;
	background-image: url("/images/moviesearch.png");
	background-repeat: no-repeat;
	background-position: top center;
}
section {
	position: relative;
	left: 5%;
	height: 30px;
	top: 120px;
}
#form {
	position: relative;
	height: 100px;
	top: 50px;
}

section div {
	font-size: 20px;
	font-weight: bold;
	position: relative;
}

button {
	position: relative;
	top: 70px;
}

a {
	text-decoration: none;
}
.nomovie {
	position: relative;
	top: 30px;
}
