header {
	position: relative;
	height: 200px;
	width: 100%;
	background: #e8f9ed;
}
section {
	position: relative;
	left: 5%;
	width: 90%;
	height: 30px;
	top: 120px;
}
#form {
	position: relative;
	height: 100px;
	top: 50px;
}

section div {
	font-size: 20px;
	font-weight: bold;
	position: relative;
}
#search_box {
	position: relative;
	width: 75%;
	height: 43px;
	left: 60%;
}
button {
	position: relative;
	top: 70px;
	left: -9.5%;
	width: 7%;
}

a {
	text-decoration: none;
}
