header {
	position: relative;
	height: 200px;
	width: 100%;
	background: #e8f9ed;
}
section {
	margin-left: 50px; 
}
section img {
	position: relative;
	display: inline-block;
	width: 32%;
	height: 750px;
	padding: 100px;
}

section div {
	font-size: 20px;
	font-weight: bold;
	position: relative;
}
#search_box {
	position: relative;
	width: 75%;
	height: 43px;
	top: 130px;
	left: 60%;
}
button {
	position: relative;
	top: 200px;
	left: -9.5%;
	width: 7%;
}
#next {
	position: relative;
	left: 30%;
}
a {
	text-decoration: none;
}
#txt_box {
	position: relative;
	font-weight: bold;
	top: 120px;
	left: -149px;
	font-size: 20px;
}