<!DOCTYPE html>
<html>
<head>
	<title>Ajax + Infinite scroll</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ajax/ajax.css">

</head>
<body class = "container-fluid" style = "color: white">

	<header class = "container-fluid">
		
	</header>

	<div class="container-fluid" id = "form-div" style="background: black;">

		<form id = "form">

			
			<div class = "col-xs-12 col-lg-4"></div>

			<div class = "form-group">
				<div class = "col-xs-12 col-lg-4">
					<input type="text" name="search" id = "search_box" class="form-control well" style = "height: 50px; z-index: 4" placeholder = "Insert a movie to search">
				</div>
			</div>

			<div class = "col-xs-12"></div>

			<div class = "col-lg-4"></div>
			<div class = "col-lg-12" id = "buttons">

					<button type = "button" class="btn btn-primary btn-lg col-xs-offset-2 col-lg-offset-5" id = "srch">Search</button>
					<button type = "button" class="btn btn-primary btn-lg col-lg-offset-1" id = "hme"><a href="/mysites" style="text-decoration: none; color: white">Home</a></button>
				
			</div>

			<div class = "col-xs-4 col-lg-4"></div>
		</form>
	</div>

	<section class="container">
		<div id = "sect" class = "col-xs-12 col-lg-12"></div>
	</section>

		<script id = "ajaxx" type="text/template">
			{{#Search}}
			<div class = "searchlist col-xs-12 col-lg-4">

				<img class = "img-thumbnail" src= {{Poster}}, alt = "Sorry, I couldn't find a picture for you :(" />
				<h3>{{Title}}</h3> <h5>{{Year}}</h5> 
				<br>

			</div>
			{{/Search}}
		</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
  <script type="text/javascript" src = "/javascripts/ajax/ajax_refined.js"></script>
</body>
</html>