
<!DOCTYPE html>
<html>
<head>
	<title>Trying</title>
	<script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
</head>
<body>

	<a-scene src="/images/BvS.jpg">
		  
	</a-scene>
	
</body>
</html>