<!DOCTYPE html>
<html>
    <head>
	   <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Portfolio</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.structure.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mysites.css">

    </head>
    <body>

       <% include templates/header.ejs %>

        <div class="row">
          <p><h2>Portfolio</h2></p>
            <ul>
              <li><a href="/ajax" target="_blank"><h3>Movie search</h3></a>
                  <p>Find any movie from the open movie data base using ajax callback requests. Built using raw JavaScript code</p>
              </li>
              <li><a href="/snake" target="_blank"><h3>Let's play a snake game</h3></a>
                <p>A snake game built entirely with jquery and javascript. Eat the food and get points of 20. Hit the wall and fail the game</p>
              </li>
	           <li><a href="/vanillaApp" target="_blank"><h3>Cost calculator</h3></a></li>
                <p>Records items and their cost price and returns the total at the bottom of the page. Built with jquery and javascript</p>
            </ul>
        </div>


</script>

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src = "/javascripts/jquery-ui.js"></script>
      <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
      <script type="text/javascript" src = "/javascripts/calender.js"></script>
    	<script type="text/javascript" src = "/javascripts/mysites.js"></script>
    	
    </body>
</html>
