<!DOCTYPE html>
<html>
    <head>
	   <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Pages</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.structure.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">


    </head>
    <body>

       <% include templates/header.ejs %>
       <section>
          <p id = "about-me-intro">About Me</p>
          <br><br>
          <article>
            <img id = "about-me-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/000/223/0b9/28fa026.jpg">
            <div class = "about-me-info">
              <h2>Peter Imoesi</h2>
              <h4>Student at Aalto University</h4>
              <h5>Helsinki, Southern Finland, Finland</h5>
              <p> | Information and Service Management</p>

            </div>

            <div class = "prof-links">
              <div id = "linkedin-link">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/peterimoesi" data-format="inline" data-related="false" id = "linkedin-link"></script>
              </div>

            </div >
             
              <div class = "prof-links" id = "codewars">
                <a href="https://www.codewars.com/users/peterimoesi"><img id = "codewars-img" src="https://www.codewars.com/users/pimoesi/badges/large"></a>
              </div>
               <a href="/mysites"><button id = "h3-a"><h4>My Portfolio</h4></button></a>

              <div id = "about-me-bio">
                <br><br>
                <h4>Summary</h4>
                <p>
                  I am a very dedicated, motivated, hardworking and adaptable person with a knack for finishing every assignment I am involved with and on time. Can work individually and in a team. Can excel in positions relating to business and web development.
                </p>  
              </div>
          </article>
          
          
       </section>

       <div id = "slider-container">
          <h2>Skills</h2>
          <div id = "slider">
            <img src="images/skills/express-js.jpg" id = "one" class = "pics">
            <img src="images/skills/HTML5_Logo_512.png" id = "two" class = "pics">
            <img src="images/skills/javascript_logo.png" id = "three" class = "pics">
            <img src="images/skills/php.png" id = "four" class = "pics">
            <img src="images/skills/download.jpg" id = "five" class = "pics">
            <img src="http://www.datamobilesolutions.com/wp-content/uploads/2014/11/jquery-logo.png" id = "six" class = "pics">
            <img src="images/skills/sql.png" id = "seven" class = "pics">
          </div>
       </div>
       <article>

       <footer id = "ugly">This <a href="https://facebook.com/profile.php?=7332" target="_blank" id = "fb">link</a> takes you to the most likeable person of facebook</footer>


    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src = "/javascripts/jquery-ui.js"></script>
      <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
      <script type="text/javascript" src = "/javascripts/calender.js"></script>
      <script type="text/javascript" src = "/javascripts/profile.js"></script>
      <script type="text/javascript" src = "/javascripts/profile2.js"></script>

    	
    </body>
</html>