body {
	background: black;
	width: 100%;
}

header {
	/*background: #404040;*/
}
header img{
	margin: 0 auto;
	float: none;
	width: 95%;
	max-width: 600px;
}
.col-xs-12, .col-lg-6, .col-lg-4 {
	
}
div {
	box-sizing: border-box;
	
}
#section2 {
	position: relative;
	top: 15vh;
}